<table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="coluna" *ngFor="let coluna of colunas">
    <div *ngIf="coluna != 'icons'; else icons">
      <th mat-header-cell *matHeaderCellDef>{{coluna}}</th>
        <td mat-cell *matCellDef="let item">
          {{ item[coluna] }}
        </td>
    </div>
    <ng-template #icons>
      <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let item">
      <mat-icon  fontIcon="edit" *ngIf="exibirEditar" (click)="onClickEdit(item)"/>
      <mat-icon fontIcon="delete"  *ngIf="exibirExcluir" (click)="onClickDelete(item)" />
    </td>
    </ng-template>
    
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunas"></tr>
  <tr mat-row *matRowDef="let linha; columns: colunas"></tr>
</table>